html {
    height: 100%;
}

body {
    height: 97.5%;
}

.onglet {
    display: block;
    height: 12%;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
}

.onglet a {
    color: #000000;
    text-decoration: none;
}

.onglet_n {
    background: #bbbbbb;
    border-right: 1px solid black;
}

.onglet_y {
    background: #dddddd;
    border-right: 0px solid black;
    padding-right: 4px;
}

.onglets_html {
    display: flex;
    min-height: 100%;
    align-items: stretch;
}

.contenu {
    background-color: #dddddd;
    width: 100%;
    min-height: 100%;
    border: 1px solid black;
    margin-left: -1px;
    padding: 5px;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -10px
}

h1 {
    margin: 0px;
    padding: 0px;
}